*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: antiquewhite;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        form{
            display: flex;
            flex-direction: column;
            gap: 5px;
            input{
                padding: 10px;
                border: none;
                width: 200px;   
                
                border-bottom: 1px solid #a7bcff;
                &::placeholder{
                    color: rgba(175,175,175,0.9);
                }
            }
            button{
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                border: none;
                border-radius: 5px;
            }
            p{
                color: #5d5b8d;
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }
}